<%- include('templates/header') %>
    <h2><%= username %>'s Page</h2>
        <% if (justSignedUp) { %>
            <p>Successfully signed up as <%= username %>!</p>
        <% } %>
        <img src="<%= image %>" width="300" height="400"><br><br>
        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>

        <!-- Check user type from session -->
        <% if (user_type === 'admin') { %>
            <form action="/admin" method="get">
                <button type="submit">Admin Page</button>
            </form>
        <% } %>

        <form action="/logout" method="get">
            <button type="submit">Log out</button>
        </form>

<%- include('templates/footer') %>